*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #79a8a8;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

a {
	outline: none;
	color: #79a8a8;
	text-decoration: none;
}

a:hover, a:focus {
	color: #ccc;
}

ul{ list-style:none;}

/* Header */
.header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
}
.header 2{
	position: fixed;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
}

.title {
	z-index: 1000;
	margin: 0 auto;
	padding: 0 1.25em;
	width: 100%;
	height:auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.title p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
}

h1 {
	line-height: 1;
	padding: 0.6em;
	color: #fff;
	margin: 0 auto;
	background-color:#79a8a8;
	text-align:left;
	margin-left: 1em;
	font-size: 1.1em;
}

h1.hideMe{ display:none;}

.content div div img {
	margin-left: 1em;
}

p.legend{ 
	color: #666;
	font-size: .9em;
	margin: 0 0 0 1em;margin-left: 1em;
}

p.subline, subtitle {
	color:#999;
	line-height: 21px;
}
a{
	text-decoration:none;
	color: #79a8a8;
}
a:hover { color: #ccc; }

/*--------- To Navigation Style ------------*/
nav { 

	padding: 0; 
	position: relative; 
	margin:6em 0 0 1.5em; 
}

nav a {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.6em;
	letter-spacing: 1px;
	padding: 0.3em 0;
	margin: 0 0.3em;
	white-space: nowrap;
}

/* MENUS Style */
#page-wrap{top:10em;}

#menu{
	height: .5em;
}

a.current-item{
	color: #79a8a8;
	background-color:#FFF;
}

a.home{
	color:#FFF;
	background-color: rgba(204,204,204,.7);
}
	
#menu ul{  
	padding: 0px;
	width:16em;
	display: none;
	visibility:hidden;
	position: absolute;
	top: 40px;
}

#menu li{
	display: block;
	float: left;
	/*height: 40px;*/
	position: relative;
	margin-bottom: 5px;
}
#menu li a{
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 0.6em; letter-spacing: 1px;
	line-height: 40px;
	/*height: 40px;*/
	display: block;
	font-weight:bold;
	padding: 0px 20px 0px 20px;
}
#menu ul li {
	width:16em;
	/*height:40px;*/
	display: block;
	visibility:visible;
}
#menu ul li a:hover{color: #ccc;}

/* Third-level menus */

a:hover{color: #ccc;}

#menu ul ul{
	top: 0px;
	left:16em;
	display: none;
	visibility:hidden;
}
/* Fourth-level menus */
#menu ul ul ul{
	top: 0px;
	left:16em;
	display: none;
	visibility:hidden;
}
#menu li:hover > ul{
	display: block;
	visibility:visible;
}

#menu li ul li a {
	color:#fff;
	background-color: #79a8a8;);
}
/* Other Style */

.content .alist li{
	margin-bottom:2em;
	list-style: none;
}

.pesquisa{ float:right; margin-right: 3em; padding: 1em .3em;}

.pesquisa input:focus {
    outline: none !important;
    border:1px solid #79a8a8;
    box-shadow: 0 0 3px #79a8a8;
}

@media screen and (max-width: 40em) {
	
.related {
		font-size: 80%;
	}
}
